<html lang="en">
{% include 'base.html' %}

<body>
  <center><b>Phone Queue</b></center>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
          <table class="table table-bordered">
            <caption>Engineers on Call</caption>
            <tr class="info">
              <th><div class="smallText">Position</div></th>
              <th><div class="smallText">Name</div></th>
              <th><div class="smallText">Caller Name</div></th>
              <th><div class="smallText">Caller Number</div></th>
              <th><div class="smallText">Duration</div></th>
              <tr>
                {% for result in data['calls'] %}
                {% if result['queueName'] == "tier1" %}
                <tr class="warning">
                  <td><div class="smallText">{{ loop.index }}</div></td>
                  <td><div class="smallText">{{ result['agentName'] }}</div></td>
                  <td><div class="smallText">{{ result['callername'] }}</div></td>
                  <td><div class="smallText">{{ result['callernum'] }} </div></td>
                  <td><div class="smallText">{{ result['duration'] }} </div></td>
                </tr>
                {% endif %}
                {% endfor %}
              </tr>
            </tr>
          </table>
          <table class="table table-bordered">
            <caption>Engineers Idle</caption>
            <tr class="info">
              <th><div class="smallText">Position</div></th>
              <th><div class="smallText">Name</div></th>
              <th><div class="smallText">Extension</div></th>
              <th><div class="smallText">Idle</div></th>
              <tr>
                {% for result in fakeAgents %}
                {% if result['queueName'] == "tier1" %}
                <tr class="success" >
                  <td><div class="smallText">{{ loop.index }}</div></td>
                  <td><div class="smallText">{{ result['name'] }}</div></td>
                  <td><div class="smallText">{{ result['extension'] }}</div></td>
                  <td><div class="smallText">{{ result['idleTime'] }} </div></td>
                </tr>
                {% endif %}
                {% endfor %}
              </tr>
            </table>
        </div>

        <div class="col-md-6">
          <div class="col-md-6">
            <div class="customerWaitingText">Max hold: </div>
              <div class="customerWaitingValue">
              {% if data['waiting'] %}
              {{ data['waiting'][0]['wait'] }}
              {% endif %}
            </div>
            <br>
            <div class="customerWaitingText">Agents off-call: </div>
              <div class="customerWaitingValue">
              {% set counter = [0] %}
              {% for result in data['agents'] %}
              {% if result["queueName"] == "tier1" %}
              {% if counter.append(counter.pop() + 1) %}{% endif %} {# increment counter by 1 #}
              {% endif %}
              {% endfor %}
              {{ counter[0] }}
            </div>
          </div>
          <div class="col-md-6">
            <div class="engineerFree"> Next on queue: <br>
              <img src="{{ onTop }}" alt="First"><br>
              <div id="topImgName">{{ fakeAgents[0]['name'] }} </div>
            </div>
          </div>
          <div class="col-md-12">
            <table class="table table-bordered">
              <caption>Customers</caption>
              <tr class="info">
                <th><div class="smallText">Position</div></th>
                <th><div class="smallText">Caller Name</div></th>
                <th><div class="smallText">Caller Number</div></th>
                <th><div class="smallText">Wait Time </div></th>
              </tr>
              {% set counter = [0] %}
              {% for result in data['waiting'] %}
              {% if counter.append(counter.pop() + 1) %}{% endif %} {# increment counter by 1 #}
              <tr class="active">
                <td><div class="smallText">{{ counter[0] }}</div></td>
                <td><div class="smallText">{{ result['callername'] }}</div></td>
                <td><div class="smallText">{{ result['callernum'] }}</div></td>
                <td><div class="smallText">{{ result['wait'] }} </div></td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>


        <br>
      </div>
    </div>

  </div>



</div>



</body>

</html>
